<html lang="en">
    <head>
      <title>OLX</title>
      <style>
    img.icon
    {
      border-radius: 100%;
      float: left;
      margin-top: 15px;
      margin-bottom: 10px;

    }
  </style>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/style.css">

    </head>
     
    <body>
      
      <img class="icon" src="/images/olx.jpg" alt="icon"  style="width: 200px">
  <h1 style="padding-top: 40px;">India's Largest Marketplace</h1><br>
  <div class="container" style="margin-left: 800px;">
  
  
  <a href="/dashboard"><button type="button" class="btn btn-warning" style="padding-left:80px; padding-right:100px; padding-top: 20px; padding-bottom: 20px; font-size: 30px;">Submit Free Ad</button></a>
      
</div>
  <blockquote class="blockquote">
  <h1 class="font-weight-bold" style="float: left; padding-left: 100px;">Choose your product category...</h1>
</blockquote>
  <br>
  
  <div id="body">
    <ul>
      <li>
        <div class="card" style="width: 18rem;">
  <a href="/dashboard"><img class="card-img-top" src="/images/properties.jpg" alt="Card image cap"></a>
  <div class="card-body">
    <p class="card-text">Properties</p>
  </div>
</div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
  <a href="/dashboard"><img class="card-img-top" src="/images/cars.jpg" alt="Card image cap"></a>
  <div class="card-body">
    <p class="card-text">Vehicles</p>
  </div>
</div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
  <a href="/dashboard"><img class="card-img-top" src="/images/books.jpg" style="height: 130px;" alt="Card image cap"></a>
  <div class="card-body">
    <p class="card-text">Books</p>
  </div>
</div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
  <a href="/dashboard"><img class="card-img-top" src="/images/fashion.jpg" style="height: 130px;" alt="Card image cap"></a>
  <div class="card-body">
    <p class="card-text">Fashion</p>
  </div>
</div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
  <a href="/dashboard"><img class="card-img-top" src="/images/electronics.jpg" alt="Card image cap"></a>
  <div class="card-body">
    <p class="card-text">Electronics</p>
  </div>
</div>
      </li>
      <li>
        <div class="card" style="width: 18rem;">
  <a href="/dashboard"><img class="card-img-top" src="/images/furniture.jpg" alt="Card image cap"></a>
  <div class="card-body">
    <p class="card-text">Furnitures</p>
  </div>
</div>
      </li>
    </ul>
  

</div>
  


    </body>
    </html>

    




